.card h3{
    color: var(--landing-page-black, #000);
    font-weight: 400;
    font-size: 40px;
}
.card pre{
    margin-top: 16px; ;
    font-weight: 500;
    font-size: 16px;
}
.wrap{
    margin-top: 64px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
}
.top{
    display: flex;
}
.section-3{
margin-top: 64px;
width: 1662px;
height: 900px;
.card{
    width: 400px;
padding: 32px;
}

}